.Hero {
	background-image: url(../../../../assets/homepage/images/home-hero-bg.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 105vh;
	color: #ffff;

	.Container {
		max-width: 114rem;
		margin: 0 auto;

		display: grid;
		grid-template-columns: 55% 45%;
		align-content: center;
		justify-content: center;

		padding: 18rem 0;

		.HeroContent {
			align-self: start;
			margin-top: 4rem;
			margin-left: 2rem;

			.HeadingSecondary {
				margin-bottom: 2rem;
				font-family: Poppins;
				font-weight: 700;
				font-style: normal;
				font-size: 2.9rem;
			}

			p {
				width: 100%;
				word-spacing: 0.5rem;
				font-size: 1.5rem;
				letter-spacing: 1px;
			}
		}

		.HeroImgContainer {
			width: 90%;
			justify-self: start;

			.HeroImg {
				width: 100%;
			}
		}
	}
}
