.EngageTitle {
	margin-top: -23.5rem;
	padding: 33rem 0 9rem;
	background-image: url('../../../../assets/aboutpage/images/about-curve-banner.png');

	h3 {
		font-family: Poppins;
		font-size: 2.8rem;
		font-weight: 700;
		color: #1e1666;
		text-align: center;
	}
}
