.FeatureSection {
	padding: 8rem 0;

	.Container {
		max-width: 110rem;
		margin: 0 auto;

		h2 {
			font-family: Poppins;
			line-height: 4.5rem;
			font-weight: 700;
			color: #1e1666;
			font-size: 3.5rem;
			text-align: center;
			margin-top: 10rem;
			margin-bottom: 2rem;
			text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		}

		.Underline {
			display: block;
			width: 5rem;
			background-color: #f11d66;
			height: 2px;
			margin: 3rem auto;
		}

		h5 {
			font-family: Poppins;
			line-height: 3rem;
			font-weight: 600;
			font-style: normal;
			color: #1e1666;
			font-size: 2rem;
			text-align: center;
			margin-bottom: 2rem;
		}

		.CardsContainer {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
		}
	}
}
